
.pwa-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-PWA.svg");
}

.bell-icon {
    background-image: url("../images/Icon-bell.svg");
    height: 24px;
    width: 24px;
}

.router-link-active,
.active {
    .pwa-icon {
        background-image: url("../images/Icon-PWA-Active.svg");
    }

    &.pwa-icon {
        background-image: url("../images/Icon-PWA-Active.svg");
    }
}