.icon {
    display: inline-block;
    background-size: cover;
    width: 24px;
    height: 24px;

    &.bar-icon {
        background-image: url("../images/bar-icon.svg");
    }

    &.search-icon {
        background-image: url("../images/search-icon.svg");
    }

    &.notification-icon {
        background-image: url("../images/notification-icon.svg");
    }

    &.cart-icon {
        background-image: url("../images/cart-icon.svg");
    }

    &.arrow-right-icon {
        background-image: url("../images/arrow-right-icon.svg");
        width: 24px;
        height: 24px;
    }

    &.sharp-arrow-right-icon {
        background-image: url("../images/sharp-arrow-right-icon.svg");
    }

    &.sharp-sort-icon {
        background-image: url("../images/sharp-sort-icon.svg");
    }

    &.sharp-filter-icon {
        background-image: url("../images/sharp-filter-icon.svg");
    }

    &.sharp-grid-icon {
        background-image: url("../images/sharp-grid-icon.svg");
    }

    &.sharp-list-icon {
        background-image: url("../images/sharp-list-icon.svg");
    }

    &.sharp-done-green {
        background-image: url("../images/sharp-done-green.svg");
    }

    &.sharp-done-white {
        background-image: url("../images/sharp-done-white.svg");
    }

    &.star-white-icon {
        background-image: url("../images/star-white-icon.png");
        width: 12px;
        height: 12px;
    }

    &.wishlist-icon {
        background-image: url("../images/wishlist-icon.svg");
    }

    &.filled-wishlist-icon {
        background-image: url("../images/filled-wishlist-icon.svg");
    }

    &.share-icon {
        background-image: url("../images/share-icon.svg");
    }

    &.minus-icon {
        background-image: url("../images/minus-icon.svg");
    }

    &.plus-icon {
        background-image: url("../images/plus-icon.svg");
    }

    &.sharp-plus-icon {
        background-image: url("../images/sharp-plus-icon.svg");
    }

    &.accordian-up-icon {
        background-image: url("../images/accordian-up-icon.svg");
    }

    &.accordian-down-icon {
        background-image: url("../images/accordian-down-icon.svg");
    }

    &.star-1-icon {
        background-image: url("../images/1-star-icon.svg");
        width: 12px;
        height: 12px;
    }

    &.star-2-icon {
        background-image: url("../images/2-star-icon.svg");
        width: 12px;
        height: 12px;
    }

    &.star-3-icon {
        background-image: url("../images/3-star-icon.svg");
        width: 12px;
        height: 12px;
    }

    &.star-4-icon {
        background-image: url("../images/4-star-icon.svg");
        width: 12px;
        height: 12px;
    }

    &.star-5-icon {
        background-image: url("../images/5-star-icon.svg");
        width: 12px;
        height: 12px;
    }

    &.back-icon {
        background-image: url("../images/back-icon.svg");
    }

    &.back-white-icon {
        background-image: url("../images/back-white-icon.svg");
    }

    &.sharp-arrow-line-icon {
        background-image: url("../images/sharp-arrow-line-icon.svg");
    }

    &.sharp-repeat-icon {
        background-image: url("../images/sharp-repeat-icon.svg");
    }

    &.sharp-post-review-icon {
        background-image: url("../images/sharp-post-review-icon.svg");
    }

    &.white-post-review-icon {
        background-image: url("../images/white-post-review-icon.svg");
    }

    &.star-icon {
        background-image: url("../images/star-icon.svg");
        width: 18px;
        height: 18px;
    }

    &.star-active-icon {
        background-image: url("../images/star-active-icon.svg");
        width: 18px;
        height: 18px;
    }

    &.add-new-white-icon {
        background-image: url("../images/add-new-white-icon.svg");
    }

    &.sharp-edit-icon {
        background-image: url("../images/sharp-edit-icon.svg");
    }

    &.sharp-trash-icon {
        background-image: url("../images/sharp-trash-icon.svg");
    }

    &.arrow-bottom-white-icon {
        background-image: url("../images/arrow-bottom-white-icon.svg");
    }

    &.sharp-invoice-icon {
        background-image: url("../images/sharp-invoice-icon.svg");
    }

    &.sharp-save-icon {
        background-image: url("../images/sharp-save-icon.svg");
    }

    &.empty-cart-icon {
        background-image: url("../images/empty-cart-icon.svg");
    }

    &.update-icon {
        background-image: url("../images/update-icon.svg");
    }

    &.sharp-cross-icon {
        background-image: url("../images/sharp-cross-icon.svg");
    }

    &.sharp-remove-icon {
        background-image: url("../images/sharp-remove-icon.svg");
    }
}